DB_HOST=localhost
DB_PORT=5432
DB_USER=postgres
DB_PASSWORD=postgres
DB_NAME=postgres

PORT=8090

REDIS_ADDR=localhost:6379
REDIS_PASSWORD=
REDIS_DB=0

TELEGRAM_BOT_TOKEN=your-telegram-bot-token
TELEGRAM_CHAT_ID=123456789

MINIO_ENDPOINT=127.0.0.1:9000
MINIO_ACCESS_KEY=your-minio-access-key
MINIO_SECRET_KEY=your-minio-secret-key
MINIO_BUCKET_NAME=your-bucket-name
